<div class="modal-container modal-login" ng-controller="ForgotPasswordCtrl">
    <div class="row">
        <div class="">
            <form class="form-horizontal" name="form" ng-submit="forgotPassword(form)" novalidate>
                    <!-- <p class="parallax-border-text font-dbhelve">ลืมรหัสผ่าน</p> -->
                    <div class="row">
                       <p class="col-sm-offset-3 col-sm-7">กรอกอีเมลที่คุณใช้สมัครสมาชิกปันใจ เพื่อขอรหัสผ่านใหม่</p> 
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 control-label" for="formGroupInputLarge">อีเมล</label>
                        <div class="col-sm-7">
                            <input placeholder="" type="email" name="email" class="field-email form-control" ng-model="user.email" required>

                            <div class="error-list has-error text-left" ng-show="(form.email.$error.required || form.password.$error.required || form.email.$error.email || errors.other) && submitted">

                                <ul class="alert alert-danger list-unstyled help-block">
                                    <li  role="alert" ng-show="(form.email.$error.required || form.password.$error.required) && submitted">
                                         <i class="fa fa-exclamation-circle"></i> กรุณากรอกอีเมล
                                    </li>

                                    <li role="alert" ng-show="form.email.$error.email && submitted">
                                         <i class="fa fa-exclamation-circle"></i> รูปแบบอีเมลไม่ถูกต้อง
                                    </li>

                                    <li role="alert" ng-show="errors.other && submitted">
                                         <i class="fa fa-exclamation-circle"></i> อีเมลที่คุณกรอก ยังไม่มีอยู๋ในระบบ
                                    </li>
                                </ul>
                            </div>
                            <div class="has-success" ng-show="form.$valid && submitted">
                                <p class="alert alert-success help-block">
                                    ลิงก์ตั้งค่ารหัสผ่านใหม่ ได้ถูกส่งไปยังอีเมลของคุณแล้ว
                                </p>
                            </div>
                        </div>
                    </div>








               <div class="row submit-group">
                  <div class="col-sm-offset-3 col-sm-7 left">
                    <button class="btn-green btn-login" type="submit">
                      ขอรหัสผ่านใหม่
                    </button>
                  </div>
                </div>


<!--                 <div class="row text-center">
                    <span class="sign-form-link"><span class="sign-form-link">
                        <span class="login-question">มีบัญชีผู้ใช้แล้ว?</span>
                        <a class="login-link" href="" ng-click="loginClick()">เข้าสู่ระบบ</a>
                    </span>
                    <span class="sign-form-link">
                        <a class="signup-link" href="" ng-click="signupClick()">สมัครสมาชิก</a>
                    </span>
                </div> -->

            </form>
        </div>

    </div>
</div>