<div class="form-group" ng-class="{ 'has-success': form[name].$valid && (submitted || form[name].$dirty),
                                    'has-error': form[name].$invalid && (submitted || form[name].$dirty) }">
  <label ng-if="label" ng-class="labelClass" for="edit-field-{{ name }}">{{ label }} <span ng-if="required" class="required-lable">*</span></label>

  <div class="field-container" ng-class="fieldClass">
    <!-- text -->
    <span ng-if="type=='text'">
      <input id="edit-field-{{ name }}" class="form-control" placeholder="{{ placeholder }}" type="{{ type }}" name="{{ name }}" ng-model="model[name]" ng-required="required" ng-readonly="readonly" />
    </span>

    <!-- url -->
    <span ng-if="type=='url'">
      <input id="edit-field-{{ name }}" class="form-control" placeholder="{{ placeholder }}" type="{{ type }}" name="{{ name }}" ng-model="model[name]" ng-required="required" ng-readonly="readonly" />
    </span>

    <!-- number -->
    <span ng-if="type=='number'">
      <input id="edit-field-{{ name }}" class="form-control" placeholder="{{ placeholder }}" type="{{ type }}" name="{{ name }}" ng-model="model[name]" ng-required="required" ng-readonly="readonly" min="{{ min }}" max="{{ max }}" step="{{ step }}"/>
      <span class="field-suffix" ng-if="suffix">{{ suffix }}</span>
    </span>

    <!-- text editor -->
    <span ng-if="type=='text-angular'">
      <div text-angular id="edit-field-{{ name }}" placeholder="{{ placeholder }}" type="text" name="{{ name }}" ng-model="model[name]" ng-required="required" ng-readonly="readonly" >
      </div>
    </span>

    <span ng-if="type=='text-angular-inline'" class="text-angular-inline">
      <span text-angular ta-toolbar="[]" ta-text-editor-class="{{ fieldClass }}-inline" ta-html-editor-class="{{ fieldClass }}-inline" id="edit-field-{{ name }}-{{ randnum }}" placeholder="{{ placeholder }}" type="text" name="{{ name }}-{{ randnum }}" ng-model="model[name]" ng-required="required" ng-readonly="readonly" ta-paste="handlePaste($html)">
      </span>
    </span>

    <span ng-if="type=='textarea'">
      <textarea msd-elastic id="edit-field-{{ name }}" class="form-control" placeholder="{{ placeholder }}" name="{{ name }}" ng-model="model[name]" ng-required="required" ng-readonly="readonly">
      </textarea>
    </span>

    <!-- tags -->
    <span ng-if="type=='tags'">
        <tags-input ng-model="model[name]" display-property="{{ tagsDisplayProperty }}" add-on-space="true" placeholder="{{ placeholder }}">
            <auto-complete source="tagsLoad($query)" ng-if="tagsLoad"></auto-complete>
        </tags-input>
    </span>

    <span ng-if="type=='radio'">
      <span class="radio" ng-repeat="option in options track by $index">
        <input type="radio" name="{{ name }}" ng-model="model[name]" id="radio-{{ name }}-{{ option.key }}" value="{{  option.key }}" ng-required="!model[name]"/>
        <label for="radio-{{ name }}-{{ option.key }}">{{  option.value }}</label>
      </span>
    </span>

    <span ng-if="type=='select-reference'">
      <select id="edit-field-{{ name }}" class="form-control" name="{{ name }}" ng-options="item.unicode_string for item in itemList track by item.resource_uri" ng-model="model[name]" ng-required="required" ng-readonly="readonly" >
      </select>
    </span>

    <span ng-if="type=='select-multiple-reference'">
      <select multiple ng-multiple="true" id="edit-field-{{ name }}" class="form-control" name="{{ name }}" ng-options="item.unicode_string for item in itemList track by item.resource_uri" ng-model="model[name].all" ng-required="required" ng-readonly="readonly" >
      </select>
    </span>

    <span ng-if="type=='checkbox-multiple-reference'">
      <span class="checkbox-item" ng-class="itemClass" ng-repeat="item in itemList">
        <span class="checkbox-input-wrapper" ng-class="{'checked': model[name].allDict[item.resource_uri]}">
          <input
              type="checkbox"
              name="{{ name }}[]"
              value="{{ item.resource_uri }}"
              ng-model="model[name].allDict[item.resource_uri]"
              ng-change="selectItem(item)"
              ng-class="{checked: model[name].allDict[item.resource_uri]}"
          />
          <label ng-click="selectItem(item)">
            <span ng-if="itemTemplateUrl" ng-include="itemTemplateUrl"></span>
            <span ng-if="!itemTemplateUrl">{{ item.unicode_string }}</span>
          </label>
        </span>
      </span>
    </span>

    <span ng-if="type=='select-list' || type == 'select-list-reference'" class="select-list dropdown select-modify ">
      <button id="{{ name }}-drop" type="button" data-toggle="dropdown" ng-disabled="disabled">
          <span class="text truncate" ng-if="selectedItem && itemTemplateUrl && !itemLabel">
              <div template-item
                   template-url="itemTemplateUrl"
                   model="selectedItem">
              </div>
          </span>
          <span class="text truncate" ng-if="selectedItem && itemLabel">
              {{ selectedItem[itemLabel] }}
          </span>
          <span class="text truncate" ng-if="!selectedItem">
              เลือก{{ label }}
          </span>
          <span class="caret caret-down-border">
          </span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="{{ model.route }}-{{ name }}-drop">
        <li class="radio" ng-class="{checked: model[name]}" ng-click="selectSingleItem(item)" ng-repeat="item in itemList track by $index">
          <input type="radio" name="{{ name }}" ng-model="model[name]" id="radio-{{ name }}-{{ item[itemKey] }}" ng-value="item[itemKey]" ng-required="required"/>
          <label ng-if="itemTemplateUrl" for="radio-{{ name }}-{{ item[itemKey] }}" template-item
                 template-url="itemTemplateUrl"
                 model="item">
          </label>
          <label ng-if="!itemTemplateUrl" for="radio-{{ name }}-{{ item[itemKey] }}">{{ item[itemLabel] }}</label>
        </li>
      </ul>
    </span>

    <span ng-if="type=='image-set'">
        <!-- fake input -->
      <input class="form-control" type="number" name="{{ name }}" ng-model="numImageFilesModel" ng-show="false" ng-required="required" ng-readonly="readonly"/>

      <div class="image-set-form-edit-field-image">
        <div class="image-set-form-edit-field-image-item" ng-repeat="image in imageList track by $index">
          <div class="ratio-constraint" ng-class="{'has-image': image.data, '': !mage.data, 'has-add-image': $index==numImageFiles}">
            <div class="img-bg">
              <div ng-show="image.data" class="img-bg-img" ng-style="{'background-image': 'url(' + image.data.image_thumbnail_1x.url + ')'}">
              </div>
              <div ng-show="!image.data" class="img-bg-img">
                <div class="img-bg-img-bg">

                  <div ng-if="image.progressPercentage" class="progress-bar" ng-style="{'width': image.progressPercentage+'%'}">
                  </div>
                  <div  ng-if="image.progressPercentage" class="img-progress-percentage">
                    {{ image.progressPercentage }}%
                  </div>
                </div>

                <div ng-show="$index==numImageFiles" name="{{ nameItem }}" class="drop-image" ng-file-drop drag-over-class="dragover" ng-file-change="upload($files)" ng-file-change="upload($files)" drag-over-class="dragover" accept=".jpg,.png" type="file" ng-multiple="true">
                  <div name="{{ nameItem }}" class="select-image glyphicon" ng-file-select drag-over-class="dragover" ng-file-change="upload($files)" ng-file-change="upload($files)" drag-over-class="dragover" accept=".jpg,.png" type="file" ng-multiple="true">
                    <div class="glyphicon glyphicon-plus add-image-image"></div>
                    <div class="add-image-label">เพิ่มภาพ</div>
                  </div>
                </div>

              </div>
              <span ng-show="image.data" class="remove-image glyphicon glyphicon-remove-sign" href="" ng-click="removeImage(image.data, $index)"></span>

            </div>
          </div>
          <div ng-show="$index==0" class="help-block">
            <div>รูปหลัก</div>
          </div>
        </div>
      </div>

    </span>

    <span ng-if="type=='datepicker'">
      <div class="dropdown">
        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
          <div class="input-group">
            <input type="text" class="form-control" data-ng-model="model[name]" date-parser="{{ dateFormat }}" />
            <span class="input-group-addon tsoft-color"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="model[name]"
                          data-datetimepicker-config="{dropdownSelector: '#dropdown2', minView: 'day' }"
                          data-before-render="beforeRenderDatepicker($view, $dates, $leftDate, $upDate, $rightDate)"
                          ng-required="required"
                          ng-readonly="readonly"
          >
          </datetimepicker>
        </ul>
      </div>
    </span>


  </div>

  <p class="help-block" ng-show="help" ng-class="helpClass">
      {{ help }}
  </p>

  <p class="help-block" ng-show="form[name].$error.required && (submitted || form[name].$dirty)" ng-class="helpClass">
    {{ label }} จำเป็นต้องกรอก
  </p>

  <p class="help-block" ng-show="isNotValid && key != 'required' && key != 'mongoose' && (submitted || form[name].$dirty)"  ng-class="helpClass" ng-repeat="(key, isNotValid) in form[name].$error">
    {{ error[key] }}
  </p>

  <p class="help-block" ng-show="form[name].$error.mongoose" ng-repeat="error in errors[name]" ng-class="helpClass">
    {{ error }}
  </p>

</div>
