<div data-extend-template="/static/app/account/profile/base_profile.html">
    <div data-block="content">
        <form class="form-horizontal row edit-profile" name="form" ng-submit="changePassword(form)" novalidate>

            <label class="lead">{{ 'ACCOUNT.PROFILE.TITLE' | translate }}</label>

            <div ng-if="showCurrentPassword" class="form-group" ng-class="{ 'has-success': form.old_password.$valid && (submitted || form.old_password.$dirty),
                                                'has-error': form.old_password.$invalid && (submitted || form.old_password.$dirty) }">
                <label class="col-sm-4 control-label">{{ 'ACCOUNT.SETTINGS.OLD_PASSWORD' | translate }}</label>
                <div class="col-sm-8">
                    <input type="password" name="old_password" class="form-control" ng-model="user.old_password" required />
                    <p class="help-block" ng-show="form.old_password.$error.required && (form.old_password.$dirty || submitted)">
                        {{ 'ACCOUNT.ERROR.CURRENT_PASSWORD_REQUIRED' | translate }}
                    </p>
                    <p class="help-block" ng-show="form.old_password.$error.mongoose">
                            {{ errors.old_password }}
                    </p>
                </div>
            </div>
    
            <div class="form-group" ng-class="{ 'has-success': form.new_password.$valid && (submitted || form.new_password.$dirty),
                                                'has-error': form.new_password.$invalid && (submitted || form.new_password.$dirty) }">
                <label class="col-sm-4 control-label">{{ 'ACCOUNT.SETTINGS.NEW_PASSWORD' | translate }}</label>
                <div class="col-sm-8">
                    <input type="password" name="new_password" class="form-control" ng-model="user.new_password"
                                 ng-minlength="6"
                                 required/>
                    <p class="help-block"
                         ng-show="(form.new_password.$error.minlength || form.new_password.$error.required) && (form.new_password.$dirty || submitted)">
                        {{ 'ACCOUNT.ERROR.PASSWORD_SHORT' | translate }}
                    </p>
                </div>
            </div>
    
            <div class="form-group" ng-class="{ 'has-success': form.confirm_password.$valid,
                                                'has-error': form.confirm_password.$invalid && form.confirm_password.$dirty }">
                <label class="col-sm-4 control-label">{{ 'ACCOUNT.SETTINGS.CONFIRM_NEW_PASSWORD' | translate }}</label>
                <div class="col-sm-8">
                    <input type="password" name="confirm_password" class="form-control" ng-model="user.confirm_password" match="user.new_password" required />
                    <p class="help-block" ng-show="form.confirm_password.$invalid && form.confirm_password.$dirty">
                        {{ 'ACCOUNT.ERROR.CONFIRM_PASSWORD_INVALID' | translate }}
                    </p>
                    <p class="help-block" ng-show="form.confirm_password.$valid">
                        {{ 'ACCOUNT.ERROR.CONFIRM_PASSWORD_VALID' | translate }}
                    </p>
                </div>
    
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <button class="btn" type="submit" ng-disabled="!form.$valid">
                        {{ 'GLOBAL.SAVE' | translate }}
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>