<div data-extend-template="/static/app/account/profile/base_profile.html">
    <div data-block="content">
        <form class="form-horizontal row edit-profile" name="form" ng-submit="changePassword(form)" novalidate>

            <label class="lead">เปลี่ยนรหัสผ่าน</label>

            <div class="form-group" ng-class="{ 'has-success': form.old_password.$valid && (submitted || form.old_password.$dirty),
                                                'has-error': form.old_password.$invalid && (submitted || form.old_password.$dirty) }">
                <label class="col-sm-3 control-label">รหัสผ่านปัจจุบัน</label>
                <div class="col-sm-9">
                    <input type="password" name="old_password" class="form-control" ng-model="user.old_password" required />
                    <p class="help-block" ng-show="form.old_password.$error.required && (form.old_password.$dirty || submitted)">
                        รหัสผ่านปัจจุบัน จำเป็นต้องกรอก
                    </p>
                    <p class="help-block" ng-show="form.old_password.$error.mongoose">
                            {{ errors.old_password }}
                    </p>
                </div>
            </div>
    
            <div class="form-group" ng-class="{ 'has-success': form.new_password.$valid && (submitted || form.new_password.$dirty),
                                                'has-error': form.new_password.$invalid && (submitted || form.new_password.$dirty) }">
                <label class="col-sm-3 control-label">รหัสผ่านใหม่</label>
                <div class="col-sm-9">
                    <input type="password" name="new_password" class="form-control" ng-model="user.new_password"
                                 ng-minlength="6"
                                 required/>
                    <p class="help-block"
                         ng-show="(form.new_password.$error.minlength || form.new_password.$error.required) && (form.new_password.$dirty || submitted)">
                        รหัสผ่านต้องมากกว่า 6 ตัวอักษร.
                    </p>
                </div>
            </div>
    
            <div class="form-group" ng-class="{ 'has-success': form.confirm_password.$valid,
                                                'has-error': form.confirm_password.$invalid && form.confirm_password.$dirty }">
                <label class="col-sm-3 control-label">ยืนยันรหัสผ่านใหม่</label>
                <div class="col-sm-9">
                    <input type="password" name="confirm_password" class="form-control" ng-model="user.confirm_password" match="user.new_password" required />
                    <p class="help-block" ng-show="form.confirm_password.$invalid && form.confirm_password.$dirty">
                        การยืนยันรหัสผ่านใหม่ไม่ถูกต้อง
                    </p>
                    <p class="help-block" ng-show="form.confirm_password.$valid">
                        การยืนยันรหัสผ่านใหม่ถูกต้อง
                    </p>
                </div>
    
            </div>

            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <button class="btn" type="submit" ng-disabled="!form.$valid">
                        บันทึก
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>