@import "../../common/mixin";

.modal-title {
	@include thaisans-reg;
  font-size: 20px; 
}

// Form signin / register

.btn-facebook {
	@include thaisans-reg;
	@include border-box;
	width: 100%;
	margin-bottom: 15px;
	height: 41px;
	padding: 5px 15px;
	border: 1px solid #849ACA;
	border-radius: 2px;
	margin-top: 10px;
	font-size: 13px;
	.icon-fb-wrapper {
		top: 3px;
	}
}

.account-action {
	padding: 25px 0 50px;
	.form-control {
		background-color: #f5e0e2;
		border: 0;
		box-shadow: none;
		background-position: 99% 50% !important;
	}
}

.submit-group {
	text-align: right;
}

.modal-signup { margin-top: 22px;}