<div class="modal-container modal-signup" ng-controller="SignupCtrl">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" name="form" ng-submit="register(form)" novalidate>

        <div class="row">
          <div class="col-sm-7 col-sm-offset-3">
            <a class="btn btn-facebook" href="" ng-click="socialSign('facebook')">
              เชื่อมต่อกับ <span class="icon-fb-wrapper"><i class="fa fa-facebook"></i></span>
            </a>

            <div class="split-section">
              <div class="text-split">หรือ สมัครสมาชิกด้วยอีเมล</div>
            </div>
          </div>
        </div>

        <div class="form-group row" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label class="col-sm-3 control-label">อีเมล</label>
          <div class="col-sm-7">
            <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
                 
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> กรอกอีเมลไม่ถูกต้อง
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> กรุณากรอกอีเมล
            </p>
            <p class="help-block" ng-show="errors.email.length" ng-repeat="error in errors.email">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{ error }}
            </p>
          </div>  
        </div>

        <div class="form-group row" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label class="col-sm-3 control-label">รหัสผ่าน</label>

          <div class="col-sm-7">
            <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
                 
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> กรุณาระบุรหัสผ่านอย่างน้อย 3 ตัวอักษร
            </p>
            <p class="help-block" ng-show="errors.password.length" ng-repeat="error in errors.password">
              {{ error }}
            </p>
          </div>  
        </div>

        <div class="row submit-group">
          <div class="col-sm-offset-3 col-sm-7 left">
            <button class="btn-green btn-login" type="submit">
              สมัครสมาชิก
            </button>
            <div class="inline-block">
              <a href="" ng-click="forgotPasswordClick()">ลืมรหัสผ่าน ?</a>
            </div>
          </div>
        </div>

        <div class="signup-link row">
          <div class="col-sm-offset-3 col-sm-7 center">
            หากคุณเป็นสมาชิกปันใจแล้ว เข้าสู่ระบบ <a class="login-link" href="" ng-click="loginClick()">ที่นี่</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
