sssss
<div class="modal-container modal-signup" ng-controller="SignupCtrl">
  <div class="row">
    <div class="col-sm-12 row-cart">
      <form class="form-horizontal" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group row" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label class="col-sm-3 control-label">อีเมล</label>
          <div class="col-sm-7">
            <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
                 
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              ใส่อีเมลไม่ถูกต้อง
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              จำเป็นต้องกรอก
            </p>
            <p class="help-block" ng-show="errors.email.length" ng-repeat="error in errors.email">
              {{ error }}
            </p>
          </div>  
        </div>

        <div class="form-group row" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label class="col-sm-3 control-label">รหัสผ่าน</label>

          <div class="col-sm-7">
            <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
                 
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              กรุณาระบุอย่างน้อย 3 ตัวอักษร
            </p>
            <p class="help-block" ng-show="errors.password.length" ng-repeat="error in errors.password">
              {{ error }}
            </p>
          </div>  
        </div>

        <div class="row submit-group">
          <div class="col-sm-3 col-sm-offset-7">
            <button class="btn-green btn-login" type="submit">
              สมัครสมาชิก
            </button>
          </div>
          <div class="col-sm-3 col-sm-offset-7">
            <a class="btn btn-facebook" href="" ng-click="socialSign('facebook')">
              เชื่อมต่อกับ <span class="icon-fb-wrapper"><i class="fa fa-facebook"></i></span>
            </a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
