

/* parallax */

.odm-parallax {
  position: relative;
  display: table;
  width: 100%;
  overflow: hidden;
}

.parallax-section {

  display: table-row;
  overflow: hidden;
}

.parallax-story {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
}

.parallax-bg {
  width: 100%;
  color: white;
  overflow: hidden;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  display: table-cell;
  position: absolute;
  height: 1000px;
}