@mixin border-box {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

// @mixin thaisans-bold {
// 	font-family: 'thaisans_neuebold', 'Helvetica Neue', Helvetica,Arial,sans-serif;
// }

// @mixin thaisans-reg {
// 	font-family: 'thaisans_neueregular', 'Helvetica Neue', Helvetica,Arial,sans-serif;
// 	-webkit-font-smoothing: antialiased;
// }

// @mixin thaisans-light {
// 	font-family: 'thaisans_neue_lightregular', 'Helvetica Neue', Helvetica,Arial,sans-serif;
// }