@import "../fonts/thaisansneue/thaisansneue";

h1, h2, h3 {
  @include thaisans-reg;
}

body { background-color: red;}

.demo-site {
    background-color: #5f3c30;
    font-size: 12px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    padding: 5px;
    text-align: left;
    letter-spacing: 2px;
    color: #FFF;
}

body {
	background-color: #FFFFFF;
  color: #666;
}

.container { margin-bottom: 50px; }

.banner .container { margin-bottom: 0; }
h2 strong {
  font-size: 1.5em;
}
.front-heading {
  font-size: 20px;
}
.listing-title {
  color: #666;
  margin-bottom: 5px;
}
.listing-user {
  color: #B3B3B3;
  margin-bottom: 5px;
}
.bg-white {
  background-color: #FFFFFF;
}
.bg-gray {
  background-color: #E6E7E8;
}
.brown {
  color: #5f3c30;
}
.pink {
  color: #b56e7c;
}
.green {
  color: #b5be00;
}
.text-block {
  display: block;
}

.page-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.badge {
  @include border-box;
  text-align: center;
  font-weight: normal;
  padding: 4px 0;
  font-size: 9px;
  width: 18px;
  height: 18px;
}

.circles{
    margin:0px auto;
}
.circles > div {
    overflow:hidden;
    float:left;
    width:auto;
    height:auto;
    position: relative;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    background:#eee;
}

.circles > div > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.circles > div > div > div {
    display: table;
    width: 100%;
    height: 100%;
}
.circles > div > div > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 320px)
{
    .circles > div {padding: 50%;}
}

@media (min-width: 321px) and (max-width: 800px)
{
    .circles > div {padding: 25%;}
}

@media (min-width: 801px)
{
    .circles{width:800px}
    .circles > div {padding: 12.5%;}
}

.banner {
  height: 400px;
  background-color: #eeeeee;
}

img {
  width: 100%;
}

.box {
  h3 {
    a { color: #565656; }
    padding-left: 10px;
    padding-right: 10px;
  }
  border: 1px solid #D1D2D3;
  box-shadow: 0 0 2px 0 #e4e4e2;
  &.no-border {
    border: 1px solid #FFFFFF;
  }
  &.gray img {
    padding: 10px;
    background-color: #E6E7E8;
    border-bottom: 1px solid #D1D2D3;
  }
  &.white img {
    border: 10px solid #FFFFFF;
  }
  .img-no-padding img {
    border: 0;
  }
}

.circle { display: block; }

.wrapper-pad-10 {
  padding: 10px;
}

.gap-top-bt {
  padding: 20px 5px;
}

.images-square img {
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #eee;
}

.more-items {
  border-radius: 3px;
  padding: 3px;
  border: 1px solid #eee;
}

.row.col-pad-10 {
  margin-left: -10px;
  margin-right: -10px;
  .col-md-4,
  .col-xs-8,
  .col-xs-4,
  .col-xs-6,
  .col-xs-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row.col-pad-5 {
  margin-left: -5px;
  margin-right: -5px;
  .col-xs-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.relative-box {
  position: relative;
}

.prev,
.next {
  position: absolute;
  bottom: 75px;
  top: auto;
  z-index: 101;
  display: block;
  width: 25px;
  height: 50px;
  text-align: center;
  &:hover {
    cursor: pointer;
    background-color: #E7BCC0;
    color: #FFF;
  }
  &:before {
    margin-top: 17px;
    display: block;

  }
}
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#loading-bar .bar {
  background: #E776C0;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #E776C0;
  border-left-color: #E776C0;
}
#loading-bar .peg {
  -moz-box-shadow: #E776C0 1px 0 6px 1px;
  -ms-box-shadow: #E776C0 1px 0 6px 1px;
  -webkit-box-shadow: #E776C0 1px 0 6px 1px;
  box-shadow: #E776C0 1px 0 6px 1px;
}

.truncate {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// btn

.btn-round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn-edit {
  font-size: 15px;
}

button.btn-add-to-cart {
  border: 0;
}

button.btn-green, button.btn-red {
  min-width: 120px;
}

button {
  @include border-box;
  border: 0;
}

button.btn-delete {
  width: 50px;
  text-align: center;
  padding: 10px 0;
}



.close {
	opacity: 1;
	font-weight: normal;
	font-family: -webkit-pictograph;
	color: #999;
}

// Form
.form-control {
	.required {
		padding: 6px 20px 6px 12px;
	}
}

.help-block { 
  font-size: 12px;
  color: #b46d7b;
}

.select-list {
    button {
        max-width: 310px;
        width: 100%;
        text-align: left;
        .caret {
            top: 50%;
            position: absolute;
            right: 15px;
            margin-top: -4px;
        }
    }
    ul {
        max-width: 310px;
        width: 100%;
        margin-top: 10px;
        border-radius: 0; // TODO: use mixin
        li {
            margin-bottom: 0;
        }
    }
    input { display: none; }
    label {
        padding: 15px 0;
        float: left;
        width: 100%;
    }
}


.item-head {
	position: relative;
}

.img-bg-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.image-contain .img-bg-img {
  	background-size: contain;
}
.img-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.circle, .circle img, .circle .img-bg, .circle .img-bg-img {
	border-radius: 50px;
}

.static-constraint {
	position: relative;
}

.ratio-constraint, .ratio-inline-constraint {
	display: inline-block;
	position: relative;
	width: 100%;
}

.ratio-constraint:after {
  padding-top: 100%;
  /* 4:3 ratio can override */
  display: block;
  content: '';
}

.image-crop {
  overflow: hidden;
}

.limit-height-wrapper {
  text-align: center;
  background-color: #000;
}
.limit-height, .carousel-images img {
  width: auto;
  max-width: 100%;
}
.limit-height.portrait {
  max-height: 1050px;
  width: auto;
}
.modal-content {
  .limit-height.portrait {
    max-height: 100%;
  }
}

ul.carousel-images[rn-carousel] {

    width: 100%;
    margin-bottom: 0;
    background-color: #000;
    text-align: left;

    li {
        position: relative;
        margin-right: -100%;
        vertical-align: middle;
    }
    .rn-carousel-control {
        top: 50%;
        margin-top: -15px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
        color: #FFF;
    }

    .rn-carousel-control.rn-carousel-control-next:before {
        content: "\e258";
        font-family: 'Glyphicons Halflings';
        font-weight: bold;
        font-size: 30px;
    }
    .rn-carousel-control.rn-carousel-control-prev:before {
        content: "\e257";
        font-family: 'Glyphicons Halflings';
        font-weight: bold;
        font-size: 30px;
    }
    .rn-carousel-caption {
        text-align: center;
    }
}


.vcenter {
	display: table-cell;
	vertical-align: middle;
}

.nano-space {
	display: inline-block;
	width: 2px;
}

.remove-image {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 50%;
	padding: 1px;
}

/* modal */
#overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: #aaa;
	opacity: 0.5;
	z-index: 300;
}
.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.odm-modal .modal-content {
	border-radius: 0px;
}

@media only screen and (max-width: 768px) {
.modal-content { padding: 10px;}
}

.odm-modal .modal-title {
	text-align: center;
}
.modal-header {
	position: relative;
	border-bottom: 0 none;
	padding: 20px 0;
}

.modal-header-line {
	border-bottom: 1px solid #e5e5e5;
	position: absolute;
	width: 94%;
	padding: 0 20px;
	bottom: 0;
	left: 3%;
}

.modal-header .close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.cycle-slideshow-wrapper {
	position: relative;
}
.cycle-slideshow-wrapper .prev, .cycle-slideshow-wrapper .next {
	bottom: auto;
	top: 50%;
	margin-top: -25px;
}
.cycle-slideshow-wrapper .ratio-constraint:after {
	margin: -10px 0;
}

.product-item:hover {
  .item-edit-link {
    opacity: 1;
  }
}

/* input form */
input.form-control,
textarea.form-control,
select.form-control {
	border-radius: 0;
	border-color: #E4B6BB;
}

.field-container {
    position: relative;
}
.field-suffix {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 12px;
  margin-right: 18px;
  color: #6f6f6f;
}

.radio, .checkbox {
  margin: 0 0 15px;
}

.radio label, .checkbox label {
  padding-left: 5px;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
  margin-left: 0;
  position: static;
}

.form-label {
  font-weight: bold;
  margin-bottom: 10px;
}


.fix-to-top {
  position: fixed;
  top: 0;
}


// Page Error
.error-page {
	color: #ddd;
	text-align: center;
	margin-bottom: 80px;
	.page-title { font-size: 50px;}
	.description { color: #ccc; font-size: 18px; letter-spacing: 1px;}
	.btn { text-transform: uppercase;}
}
.big-text {
	font-size: 110px;
	text-transform: uppercase;
}
.error-number {
	font-size: 270px;
	line-height: 190px;
	margin: 50px 0 20px;
	&.icon-tools {
		font-size: 190px;
		margin: 20px;
	}
}

@media (max-width: 480px) {
	.error-page {
		.page-title { font-size: 30px;}
		.btn { margin-top: 10px; display: inline-block;}
	}
	.big-text { font-size: 50px;}
	.error-number { font-size:100px; line-height: 80px;}
	.error-number.icon-tools { font-size: 100px;}
}

.field-container .wrap-dd-select {
    width: auto;
}

// Image set field form
.image-set-form-edit-field-image {
	margin-left: -5px;
	margin-right: -5px;
}
.image-set-form-edit-field-image-item {
	padding: 5px;
	position: relative;
	min-height: 1px;
	float: left;
	width: 20%;
}
.image-set-form-edit-field-image-item > * {
	border: 1px dashed #E4B6BB;
}

.image-set-form-edit-field-image-item .has-add-image,
.image-set-form-edit-field-image-item .has-image {
	border-style: solid;
}
.image-set-form-edit-field-image-item .img-bg {
	padding: 4px;
}
.image-set-form-edit-field-image-item .img-bg-img {

}
.image-set-form-edit-field-image-item .img-bg-img-bg {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	border: 1px solid #F0D8DB;
	background: repeating-linear-gradient(
		45deg,
		#F0D8DB,
		#F0D8DB 5px,
		#fff 5px,
		#fff 10px
	);
	opacity: 0.2;
}
.image-set-form-edit-field-image-item .has-image {
	//background-color: #E6E7E8;
}

.image-set-form-edit-field-image-item .drop-image {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	color: #E4B6BB;
}
.image-set-form-edit-field-image-item .select-image {
	cursor: pointer;
	width: 100%;
	height: 100%;
	padding: 15px 0;
}
.image-set-form-edit-field-image-item .select-image > * {
	margin: 0 auto;
	display: block;

}
.image-set-form-edit-field-image-item .add-image-image {
	text-align: center;
}

@media only screen and (max-width: 420px) {
	.add-image-label { display: none;}
}
.image-set-form-edit-field-image-item .add-image-label {
	font-size: 12px;
	text-align: center;
	padding-top: 5px;
}

.image-set-form-edit-field-image-item .img-progress-percentage {
	position: absolute;
	top: 50%;
	width: 100%;
	font-size: 22px;
	text-align: center;
	margin-top: -15px;
	color: #FFF;
}

.image-set-form-edit-field-image-item .progress-bar {
	height: 100%;
	background-color: #F0D8DB;
	position: absolute;
	top: 0;
	left: 0;
}

// Quote
.block-quote {

    height: 150px;
    position: relative;
    display: block;
    border-left: 0;
    padding: 0px 30px 0 35px;
    margin: 12px 10px 30px 10px;
    word-wrap: break-word;

    a, span {
        position: relative;
        //line-height: 0.8em;
    }

    &:before {
        content: "“";
        position: absolute;
        left: 0;
        z-index: 1;
    }

    a:after, span:after {
        content: "”";
        display: inline-block;
        margin-right: -33px;
        margin-left: 10px;
        position: absolute;
        z-index: 1;
    }

    &:before, a:after, span:after {
        font-size: 120px;
        line-height: 45px;
        font-weight: normal;
        margin-top: 23px;

    }

    br:last-child { // First focus cusor style here
        content: " ";
    }
}
.block-quote-source {
    padding: 0px 30px 0 47px;
    font-size: 24px;
    font-weight: lighter;
}

.edit-block-quote-inline {
    height: 200px;
    position: relative;
    display: block;
    border-left: 0;
    padding: 0 30px 0 35px;
    margin: 0 0 20px 0;
    word-wrap: break-word;

    div[contenteditable] {
        position: relative;
        line-height: 0.8em;
        br:last-child { // First focus cusor style here
          content: " ";
          display: inline-block;
          height: 1em;
          line-height: 1em;
        }
    }

    &:before {
        content: "“";
        position: absolute;
        left: 0;
        z-index: 1;
    }

    div[contenteditable]:after {
        content: "”";
        display: inline-block;
        margin-right: -33px;
        margin-left: 10px;
        position: absolute;
        //bottom: 0;
        z-index: 1;
    }

    &:before, div[contenteditable]:after {
        font-size: 40px;
        line-height: 20px;
        font-weight: bold;
        margin-top: 5px;

    }
}

.media-field-quote .quote-source {

    .field-container, .form-control, .form-group {
        display: inline !important;
        width: auto !important;
        float: none !important;
    }
    input, input:focus {
        border: none 0px;
        box-shadow: none;
    }

}

.text-angular-inline {
    .ta-editor {
        display: inline-block;
        height: auto;
        min-height: 0;
    }
    div[contenteditable], p {
        display: inline;
        padding: 0;
    }

    *:focus {
        outline: 0;
    }

}


// select-list
.select-list {
    label {
        display: block;
        cursor: default;
    }
}
.select-list-template-item {
    display: block;
}

// Invite form
.invite-form-wrapper {
    .form-group {
        position: relative;
    }
    input {
        padding-left: 20px;
        padding-right: 20px;
        border: 0px none !important;
        box-shadow: none !important;
        border-bottom: solid 1px #cecece !important;
    }
    input:focus {
        outline: 0;
    }
    input[readonly] {
        cursor: auto;
        background-color: #FFF;
    }
    .delete {
        cursor: pointer;
        position: absolute;
        right: 0px;
        top:50%;
        margin-top: -7px;
        z-index: 1;
    }
    .user-icon {
        position: absolute;
        left: 0px;
        top:50%;
        margin-top: -7px;
        z-index: 1;
        color: #CCC;
    }

    .valid .glyphicon-user, .user-icon.in-focus {
        color: green;
    }
    .invalid .glyphicon-exclamation-sign {
        color: orange;
    }

    .glyphicon-ok-sign {
        color: dodgerblue;
    }
}

.item-deleted {
    padding: 40px 20px;
    &> * {
      text-align: center;
    }
    .deleted-ok {
        font-size: 40px;
        color: darkgreen;
    }
}

/*
**  Profile
*/
.col-right .action-picture .drop-image {
    margin-top: 0px;
    &:after {
        content: "";
        padding-top: 100%;
    }

}
